body.one-col, body.two-col {
  border-top-width:0px;
  font-family: 'Courier New',Courier,Monaco;

  .container {
    width: 100%;
  }

  #header {
    margin-bottom:0px;
  }

  nav#breadcrumbs {

  }

  .open-menu {
    display:none;
  }

  nav{
    #main-nav-bar {
      margin-top: 3px;
      margin-right:10px;
    }
  }
  nav#top-nav-bar {
    margin-top: 3px;
    margin-right:10px;
  }

  figure#logo {
    margin-top: 0px;
    text-align:left;

    img {
      padding-top: 0px;
      height:30px;
    }
  }

  .container .one.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .container .two-thirds.column {
      width: auto;
  }
}

