$font_color: #222;
$border_color: $font_color;

body.one-col, body.two-col {
  border-top-width:0px;
  font-family: 'Courier New',Courier,Monaco;
  color:$font_color;
  margin:0px 10px;
  line-height:20px;

  h3, h6 {
    color: $font_color !important;
    font-size:14px;
    text-transform: uppercase;
    width:100% !important;
  }
  #content {
      text-align: left;
  }

  table#cart-detail {
    margin-left:0px;
  }
  [data-hook="cart_items_headers"], [data-hook="cart_adjustments_headers"] {
    background-color:#ccc;
    color:$font_color;
    font-size:10px;
    thead {
      th {
        font-size:10px !important;
      }
    }
  }
  table#cart-detail {
    thead th {
      padding:3px 3px 3px 10px;
    }
    tbody tr td, table tfoot tr td {
      padding: 3px;
    }
  }

  h1 {
    font-size: inherit;
    text-align: left;
  }

  a {
      color: $font_color;
      text-decoration: none;
  }
  a:hover {
    color:#000 !important;
  }

  #subheader {
    //display:none;
    background:none;
    border-bottom: 0px;
    border-top: 0px;
    box-shadow: none;
    color: #000;

    .subheader-wrapper{
      padding:0px 0px 0px 5px;

      h1 {
        color:#000;
        font-size:1.0em;
      }
    }
  }
  .container {
    width: 100%;
    .column, .columns {
      margin:0px;
    }
  }

  #wrapper {
    margin-top: 0px;
    h3, .search-results-title {
      border-bottom: solid 1px $border_color;
    }
  }

  #header {
    margin-bottom:0px;
    //border-bottom: solid 1px #666;
  }

  nav#breadcrumbs {
    width:100%;
    margin-top:0px;
    border-color:#666;
    color:#666;
    ul li {
      a {
        color: #666;
      }

      a:hover {
        color:#000;
      }
    }

  }

  .open-menu {
    display:none;
  }

  nav{
    #main-nav-bar {
      margin-top: 3px;
      margin-right:10px;
    }
  }

  figure#logo {
    margin-top: 0px;
    text-align:left;

    img {
      padding-top: 0px;
      height:30px;
    }
  }

  .container .one.column,
  .container .one.columns,
  .container .two.columns,
  .container .three.columns,
  .container .six.columns,
  .container .seven.columns,
  .container .eight.columns,
  .container .nine.columns,
  .container .ten.columns,
  .container .eleven.columns,
  .container .twelve.columns,
  .container .thirteen.columns,
  .container .fourteen.columns,
  .container .fifteen.columns,
  .container .one-third.column,
  .container .two-thirds.column {
      width: 100%;
  }

  .container .four.columns {
    width: auto;
  }

  .container .sixteen.columns {
    width:100%;
  }

  .taxonomy-root {
    display:none;
  }

  ul.taxons-list {
    list-style: none outside none;
    padding-left: 0;
    box-shadow: 0 2px 4px 0 #CCCCCC;

    li {
      border-top:solid 1px #ccc;
      border-left:solid 1px #ccc;
      border-right:solid 1px #ccc;
      border-bottom-width:0px;
      margin:0px;
      padding:5px;
      text-align:left;
      a {
        font-size:14px !important;
      }
    }
  }

  ul#products {
    li.product-row {
      width:100%;
      box-shadow: 0 2px 4px 0 #CCCCCC;
    }

    li {
      text-align: left;
      border:solid 1px #cc;

      a.info {
        color:#000;
        margin-right:5px;
        border-width:0px;
      }
      .price {
        margin-top:0px;
        font-size: inherit;
        color:#333;
      }
    }

    .product-image {
      float:left;
      margin:5px;
      //border:solid 1px #ccc;
      min-height:0px;

      a {
        border-radius:0px;
        border-width:0px;
        padding:5px;

        img {
          width:50px;
          height:50px;
          float:left;
        }
      }
    }
  }

  ul#products [data-hook="products_list_item"] {
    margin: 0;
    width: 100% !important;
    border-top:solid 1px #ccc;
    border-left:solid 1px #ccc;
    border-right:solid 1px #ccc;
  }

  ul#products li.product-row:last-child {
    border-bottom:solid 1px #ccc;
  }

  footer {
    //width: 96%;
    //background-color: #FFFFFF;
    //bottom: 0;
    //margin: 0;
    //overflow: hidden;
    //position: absolute;
    //border-top: 1px solid #CCCCCC;
    text-align:center;

    ul {
      list-style-type: none;
      padding-top:0px;

      li {
        display:inline;
        padding:10px 10px;
      }
    }
  }

  #product-images {
    width:100%;

    #main-image {
      border-color:#ccc !important;
      border-width:0px;
      width:auto;
      border: 1px solid #ccc !important;
      box-shadow: 0 2px 4px 0 #CCCCCC;
    }
  }

  #product-thumbnails {
    margin-right:0px;
    li {
      margin-right:0px;
    }
    li a, li a img {
      border-radius: 0px;
    border-color:#ccc;
    }
  }
  #product-description {
    margin-top:0px;
  }
  #main-image, #main-image img {
    border-radius: 0px;
  }

  #cart-form .add-to-cart #add-to-cart-button {
    font-size: 18px;
    margin-left: 5px;
    padding: 10px 10px;
  }
  input[type="button"], input[type="submit"], button, .button, a.button, input[type="number"], input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="search"], textarea {
    border-radius: 0px;
    border-width: 1px;
    box-shadow: none;
    padding: 10px 20px;
    text-transform: uppercase;
    transition-duration: 0.3s;
  }

  #account, #guest_checkout, #checkout {
    h3 {
      color:$font_color;
      font-size:14px;
    }
    input[type="number"], input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="search"], textarea {
      width:100%;
      padding:3px 5px;
    }
    input[type="button"], input[type="submit"], button, .button, a.button {
      border-radius:8px;
      width:100%;
      background-color:$font_color;
      color:#FFFFFF;
    }
  }

  #billing, #shipping, #shipping_method, #payment, #order_details, #order_summary {
    margin-top: 0px;
    padding: 0;
    legend {
      text-align:left !important;
      color:$font_color;
      font-size:14px;
    }

    .columns {
      width:100%;
      padding-bottom:10px;
    }
  }

  .steps-data div.columns {
    //text-align:left;
  }

  input[type="button"], button {
    background-color:$font_color;
    border-color:$font_color;
  }

  #cart-form {
    [data-hook=product_price] {
      width:100%;
      border-bottom: 0px solid #ccc;
    }
    #product-price .price {
      color: #CC0000;
      font-size: 20px !important;
    }
    .add-to-cart {
      float: right;
      input[type="number"] {
        display:none;
      }
    }
  }

  h6.product-section-title {
    color:$font_color;
    border-bottom:solid 1px #ccc;
    width:100% !important;
  }

  [data-hook=product_taxons] {
    ul {
      list-style-type: none;
    }
  }
  .product-section-title {
    margin:20px 0px 0px;
  }

  table tbody tr.alt, table tbody tr.odd, table tfoot tr.alt, table tfoot tr.odd {
      background-color: #fefefe;
  }

  #product-properties {
    tr.odd {
      background-color: #fefefe;
    }
    tr td strong {
      color:$font_color;
    }
  }

  #clear_cart_link, #update-cart .links {
    text-align:right;
  }
  .cart-item-total, .order-total {
    color:$font_color !important;
    font-size:12px !important;
  }

  #clear_cart_link a, #clear_cart_link button,
  #clear_cart_link input, #update-cart .links a,
  #update-cart .links button, #update-cart .links input {
      font-size: 11px !important;
      padding: 10px !important;
  }
  .gray{
    color:#fff;
  }

  #update-button {
    display:none;
  }

  #clear_cart_link {
    button, .or {
      display: none;
    }
  }

  header nav {
    dipslay:none;
  }

  #nav-bar {
    text-align:right;
  }
  nav#top-nav-bar {
    margin-top: 3px;
  }

  [data-hook="order_summary"] {
    td:last-child {
      text-align:right;
      color:$font_color;
    }
  }

  span.price, #checkout-summary table tr[data-hook="item_total"] td:last-child strong, #checkout-summary table #summary-order-total, #order_details td.price span, #order_details td.total span, #order_summary td.price span, #order_summary td.total span, table#cart-detail tbody#line_items tr td[data-hook="cart_item_price"], table#cart-detail tbody#line_items tr td[data-hook="cart_item_total"], div[data-hook="inside_cart_form"] #subtotal span.order-total {
    color: $font_color;
    font-weight: bold;
  }

  table.stock-contents, table#line-items {
    nargin-top:20px;

    width:100%;

    tr th {
      background-color: #CCCCCC;
      color: $font_color;
      font-size: 10px;
    }
  }

  div[data-hook="order-bill-address"] {
    display:none;
  }

  #shipping_method {
    .stock-shipping-method-title {
      color: $font_color !important;
      font-size:14px;
      text-transform: uppercase;
      width:100% !important;
      background-color:inherit;
      text-align:left;
      border-bottom:solid 1px $border_color;
    }

    .shipping-methods .shipping-method {
      display: block;
      margin: 10px;
      text-align: left;
    }

    .shipment {
      margin-bottom:0px;
    }
  }

  #checkout-summary {
    margin-top:10px;
  }



  h3.stock-location {
    display: none;
  }
  .cart-item-delete {
    text-align:right;
    width:auto;
  }

  [data-hook="empty_cart"] {
    text-align: center;
  }

  .button.continue {
    background-color:$font_color;
    color:#FFFFFF;
  }

  p {
    padding: 3px 0px 0px 0px;
  }

  fieldset {
      -moz-border-bottom-colors: none !important;
      -moz-border-left-colors: none !important;
      -moz-border-right-colors: none !important;
      -moz-border-top-colors: none !important;
      border-color: #DFEEFD -moz-use-text-color -moz-use-text-color !important;
      border-image: none !important;
      border-right: medium none !important;
      border-style: none !important;
      border-width: 2px medium medium !important;
  }


  #billing legend, #shipping legend, #shipping_method legend, #payment legend, #order_details legend, #order_summary legend
  {
    font-size: 14px !important;
    font-weight: 600 !important;
    text-align:left !important;
    margin-left:0px;
    padding:10px 0px 5px 0px;
    border-bottom: solid 1px $border_color;
    width:100%;
    //float:left;
  }

  legend:after {
    content:" ";
    clear:both;
    display:block;
  }

  #checkout-summary {
    font-size:14px;
    width:100%;

    h3 {
      text-align: left;
    }
  }

  .dropdown {
      border-color: #D9D9DB;
      border-radius: 0px;
      border-width: 1px;
    .selected {
      min-height:11px;
      padding:5px 3px;
    }
  }

  table tbody tr td, table tfoot tr td {
      padding: 5px 0px;
      vertical-align: middle;
  }

  #checkout-summary tr[data-hook="order_total"] td, #summary-order-total, [data-hook="order_details"] [data-hook="order_item_total"] span, #order_total {
    color:$font_color !important;
  }

  [data-hook="shipping_fieldset_wrapper"] {
    display: none;
  }

  .payment-method-selector.ui-buttonset {
      padding-top: 10px;
      text-align: left;
  }

  label.ui-button {
      background-image: none;
      border-radius: 0px;
      border-width: 1px;
      color: $font_color;
      font-size: 12px;
      margin-bottom: 10px;
      margin-right: 0px !important;
      transition-duration: 0.3s;
  }

  label.ui-button.ui-state-active{
    background-color:#222222;
    color:#fff;
  }

  #checkout-summary tr[data-hook="order_total"] td {
    border-color:$border_color;
  }

  #checkout tr td[data-hook="order_item_description"] {
    display:none;
  }

  .steps-data .four.columns {
    width:50%;
  }

  #order p[data-hook="links"] {
    text-align: right;
  }

  input[type="submit"], input[type="button"], input[type="reset"], button, a.button {
    background-color:$font_color;
    color:#fff;
  }

  #subheader .subheader-wrapper {
    color:$font_color;
    padding-left:0px;
  }
  #breadcrumbs {
    margin-top:0px;
    border-bottom:0px;
    margin-bottom:0px;

    ul li a {
      color:$font_color;
    }
  }

  ul#products li a.info {
    line-height:60px;
  }
  .row {
    margin-top:10px;
    margin-bottom: 0px;
  }

  .page-wrapper footer {
    display: none;
  }

  footer {
    //position:absolute;
    //bottom: 0px;
    //border-top:solid 1px #ccc;
    //width:100%;
    //left:0px;
    //background-color:#fff;
  }
  h1 {
    line-height:20px;
  }

  .progress-steps {display:none;}

  #top-nav-bar {width:200px;}

  #link-to-cart {min-width:200px;}

  .item-image {
    img {
      width: 50px;
    }
    padding-right: 10px;
  }

  #order_details table tfoot#order-total tr td, #order_summary table tfoot#order-total tr td {
    padding: 5px 0px 0px 0px;
  }
}

