body.one-col, body.two-col {
  border-top-width:0px;
  font-family: 'Courier New',Courier,Monaco;
  color:#222;
  margin:10px;

  h1 {
    font-size: inherit;
    text-align: left;
  }

  a {
      color: #222;
      text-decoration: none;
  }
  a:hover {
    color:#000;
  }

  #nav-bar {
    display:none;
  }

  #subheader {
    display:none;
    background:none;
    border-bottom: 0px;
    border-top: 0px;
    box-shadow: none;
    color: #000;

    .subheader-wrapper{
      padding:0px 0px 0px 5px;

      h1 {
        color:#000;
        font-size:1.0em;
      }
    }
  }
  .container {
    width: 100%;
  }

  #wrapper {
      margin-top: 0px;
  }

  #header {
    margin-bottom:0px;
    //border-bottom: solid 1px #666;
  }

  nav#breadcrumbs {
    width:100%;
    margin-top:0px;
    border-color:#666;
    color:#666;
    ul li {
      a {
        color: #666;
      }

      a:hover {
        color:#000;
      }
    }

  }

  .open-menu {
    display:none;
  }

  nav{
    #main-nav-bar {
      margin-top: 3px;
      margin-right:10px;
    }
  }
  nav#top-nav-bar {
    margin-top: 3px;
    margin-right:10px;
  }

  figure#logo {
    margin-top: 0px;
    text-align:left;

    img {
      padding-top: 0px;
      height:30px;
    }
  }

  .container .one.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .one-third.column, .container .two-thirds.column {
      width: auto;
  }

  .container .sixteen.columns {
    width:100%;
  }

  .taxonomy-root {
    display:none;
  }

  ul.taxons-list {
    list-style: none outside none;
    padding-left: 0;
    box-shadow: 0 2px 4px 0 #CCCCCC;

    li {
      border-top:solid 1px #ccc;
      border-bottom-width:0px;
      margin:0px;
      padding:5px;
      text-align:left;
    }
    li:first-child{
      border-top-width:0px;
    }
  }

  ul#products {
    li.product-row {
      width:100%;
      box-shadow: 0 2px 4px 0 #CCCCCC;
    }

    li {
      text-align: left;
      border:solid 1px #cc;

      a.info {
        color:#000;
        margin-right:5px;
        border-width:0px;
      }
      .price {
        margin-top:0px;
        font-size: inherit;
        color:#333;
      }
    }

    .product-image {
      float:left;
      margin:5px;
      border:solid 1px #ccc;

      a {
        border-radius:0px;
        border-width:0px;
        padding:5px;

        img {
          width:50px;
          height:50px;
          float:left;
        }
      }
    }
  }

  ul#products [data-hook="products_list_item"] {
    margin: 0;
    width: 100% !important;
    border-top:solid 1px #ccc;
    border-left:solid 1px #ccc;
    border-right:solid 1px #ccc;
  }

  ul#products li.product-row:last-child {
    border-bottom:solid 1px #ccc;
  }

  footer {
    text-align:center;
    margin:0px auto;

    ul {
      list-style-type: none;
      padding-top:0px;

      li {
        display:inline;
        padding:10px 10px;
      }
    }
  }

  #product-images #main-image {
    border-color:#ccc !important;
  }
  #main-image, #main-image img {
    border-radius: 0px;
    width:100%;
  }
  input[type="button"], input[type="submit"], button, .button, a.button, input[type="number"], input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="search"], textarea {
    border-radius: 0px;
      border-width: 3px;
      box-shadow: none;
      padding: 10px 20px;
      text-transform: uppercase;
      transition-duration: 0.3s;
  }
  input[type="button"], button {
    background-color:#222;
    border-color:#222;
  }

  #cart-form {
    [data-hook=product_price] {
      width:100%;
      border-bottom: 2px solid #ccc;
    }
    #product-price .price {
      color: #CC0000;
      font-size: 14px !important;
    }
    .add-to-cart {
      float: right;
      input[type="number"] {
        display:none;
      }
    }
  }

  .product-section-title {
    color:#222;
    border-bottom:solid 1px #ccc;
  }
}

