%footer
  .left.icons
    %a{:href=>"https://www.facebook.com/popcorngeneralstorehk", :target => "facebook"}
      %icon.facebook
  .center
    = link_to "lookbook", "#"
    %ul
      %li
        = link_to "sizing", "#"
      %li
        = link_to "terms", "#"
      %li
        = link_to "f.a.q", "#"